*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .cader{
    padding: 20px;
    border-radius: 97px;
  
    display: flex;
    width: 400PX;
    HEIGHT: 664PX;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
body{

    background: #3C1053FF;
}

.container .cader button{
    width: 278px;
    border: none;
    outline: none;
    background-color: #DF6589FF;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 13px;
    HEIGHT: 187PX;
    cursor: pointer;
}
.container .cader button:active{
    background-color: #ffffff;
}
.container .cader input{
    padding: 10px;
    border: none;
    outline: none;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 28px;
    width: 302px;
    MARGIN-TOP: 18%;
    HEIGHT: 273PX;
}

.container .cader p{
    color: white;
    font-size: 1.2em;
    font-family: cursive;
    text-shadow: #fc5c65 0 0 3px;
}
}
